# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# SQLite Database
*.db
*.sqlite3

# IDE Files
.idea/
.vscode/

# macOS Files
.DS_Store

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Streamlit Cache
.streamlit/secrets.toml

# UV
.python-version